<div class="crop-container" *ngIf="imageSrc">
  <div class="crop-wrapper" #cropWrapper>
    <canvas 
      #canvas 
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp($event)"
      (mouseleave)="onMouseUp($event)"
    ></canvas>
    
    <div class="crop-info" *ngIf="cropArea">
      <p>X: {{cropArea.x}}px, Y: {{cropArea.y}}px</p>
      <p>Lățime: {{cropArea.width}}px, Înălțime: {{cropArea.height}}px</p>
    </div>
  </div>
  
  <div class="crop-controls">
    <button (click)="resetCrop()" class="btn-reset">
      Resetează Selecția
    </button>
    <button (click)="applyCrop()" class="btn-apply" [disabled]="!cropArea">
      Aplică Crop
    </button>
  </div>
</div>